@model MvcCore.Models.Domain.Person
@{

}
<div style="width: 50%">
    <form asp-action="EditPerson">
        <h2>Edit Person</h2>

        <input type="hidden" asp-for="Id"/>

        <div class="mb-3">
            <label asp-for="Name" for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" id="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }

        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/Person/DisplayPersons" class="btn btn-primary">Back</a>
    </form>
</div>
